# Multiple Linear Regression

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv')

- Indepandent and depandent features

In [3]:
X = df.iloc[:, :-1] #Excluding Last Column
y = df.iloc[:, 4] #Only last column

- Convert categorical columns into Binary number by 1-Hot Encoding

In [4]:
states = pd.get_dummies(X['State'], drop_first=True)

- Drop Sate column in X

In [5]:
X = X.drop('State', axis=1)

In [7]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

- concat new States value in X

In [10]:
X=pd.concat([X,states],axis=1)

In [11]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

- Splitting the dataset into the Training set and Test set

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

- Fitting Multiple Linear Regression to the Training set

In [13]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

- Predicting the Test set results

In [14]:
y_pred = regressor.predict(X_test)

In [15]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [16]:
score

0.9347068473282423

- Score should be between 0-1(towards 0 that good)